<footer class="ng-scrope">
    <div class="footer-top"></div>
    <div class="footer-bottom">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="contacto-footer" style="margin-top: 65px;">
                    <hr>
                    <h4>
                        Sarmiento N° 174 - Dpto 12A
                        <br>
                        San Salvador de Jujuy (4600)
                        <br>
                        0388-4239452 | 388 446-2864
                        <br>
                        info@gajujuy.gob.ar
                        <br>
                    </h4>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                ultimas noticias
            </div>
            <div class="col-md-4 mr-auto">
                <h4>
                    REDES SOCIALES
                </h4>
            </div>
        </div>
    </div>
    <div class="copyright">Direccion Provincial de Transparencia y Gobierno Abierto</div>
    <p class="class-block"></p>
</footer>